@import url(../style.css);

@media screen and (max-width: 1536px) {
  .main-books {
    .bottom {

      .card-13,
      .card-14 {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nav-fixed {
    padding: 0 60px;
    height: 85px;

    .ul-desktop {
      display: none;
    }

    .profile {
      display: none;
    }

    .gamburger-menu {
      display: flex;
    }
  }

  header {

    .slider {
      width: 100%;
      height: 220px;
      border-radius: 0;
      background-size: 103%;
      justify-content: center;

      .img {
        display: flex;
      }

      .slider-text {
        width: 220px;
        left: 60px;

        h1 {
          font-size: 2.2rem;
        }

        .slide-btn {
          div {
            width: 45px;
          }
        }
      }
    }


    .search-bar {
      width: 550px;
      height: 100px;
      justify-content: space-evenly;
      transform: translateY(-40px);

      h1 {
        font-size: 1.6rem;
        margin: 0;
      }

      .s-bottom {
        .search-inp {
          width: 400px;
          padding: 5px 20px;
          font-size: 15px;
          border-radius: 10px;
        }

        button {
          padding: 4px 20px 4px 30px;
          background-size: 18px;
          border-radius: 10px;
          background-position: 10px 9px;
        }
      }
    }
  }


  .main-books {
    margin-top: 0px;
    padding: 0 92px;
  }
}

@media screen and (max-width: 426px) {
  nav {
    padding-inline: 20px !important;

    .nav-logo {
      a {
        font-size: 1.5rem;
      }
    }
  }

  .compony-info {
    .container {
      flex-direction: column;
    }
  }

  header {
    .slider {
      width: 90% !important;
      height: 200px;
      border-radius: 21px;

      .slides {
        a {
          width: 100%;
          height: 100%;
          padding: 0;
          padding: 20px;

          h1 {
            width: 200px;
            font-size: 2rem;
          }
        }
      }

      .slider-control {
        left: 20px;
        bottom: 50px;
      }
    }

    .search-bar {
      width: 95%;

      h1 {
        font-size: 1.5rem;
      }

      .s-bottom {
        gap: 10px;
        margin-top: 10px;

        .search-inp {
          width: 200px;
        }
      }
    }
  }

  .main-books,
  .shelf-book,
  .books {
    padding-inline: 0px !important;

    .top {
      h1 {
        font-size: 1.5rem;
      }
    }

    .bottom {
      gap: 50px;

      .card {
        width: 140px;
      }
    }
    .button{
      display: flex;
    }
  }

  .comment{
    .container{
      width: 350px !important;
    }
  }
  .compony-info{
    padding-inline: 20px;
    .container{
      padding: 20px;
      justify-content: center;
      background: none;
    }
  }
  .yozuvchilar{
    padding-inline: 20px;
    .container{
      .top{
        h1{
          font-size: 1.5rem
        }
      }
      .bottom{
        gap: 20px;  
        .card{
          width: 155px;
        }
      }
      .button{
        display: flex;
      }
    }
  }
  .contact-us{
    margin-top: 50px;
    padding: 20px;
    .top{
      h1{
        font-size: 1.5rem;
      }
    }
    .bottom{
      margin-top: 20px;
    }
  }
  footer{
    padding-inline: 20px;
    .foot-logo{
      font-size: 1.5rem;
    }
    p{
      display: none;
    }
    .right{
      gap: 10px;
    }
  }
}

@media screen and (max-width: 426px) {
  .books{
    .top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      select{
        display: block;
      }
      .category{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .authors{
    padding-inline: 20px;
    .top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1{
        font-size: 1.5rem;
      }
      .category{
        display: none;
      }
      select{
        display: block;
      }
    }
    .bottom{
      gap: 20px;  
      .card{
        width: 155px;
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .signin, .signup{
    display: block;
    .left{
      display: none;
    }
    .right{
      width: 100%;
    }
  }
}

@media screen and (max-width: 426px) {
  .book{
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-inline: 20px;
    .left{
      padding: 0;
      .img{
        img{
          width: 275px;
        }
      }
    }
    .right{
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .full-info{
        .top{
          .hr{
            width: 208px;
          }
        }
      }
      .formats{
        .top{
          text-align: center; 
        }
        .bottom{
          flex-direction: column;
          .two{
            margin-top: 20px;
          }
        }
      }
    }
  }

  .kitob-haqida{
    padding-left: 20px;
    .top{
      padding-right: 0;
      justify-content: center;
    }
    .bottom{
      .iqtibos{
        .card{
          min-width: 500px;
        }
      }
    }
  }

  .kitob-tavsiya{
    .top{
      padding-left: 20px;
      padding-right: 20px;
      justify-content: center;
      button{
        display: none;
      }
    }
    .bottom{
      padding-left: 20px;
      gap: 20px;
    }
  }
}