@import url(../style.css);

* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;

  .left,
  .right {
    width: 50%;
    height: 100%;
  }

  .left {
    background-color: var(--add-left-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .book-img {
      width: 300px;
      height: 482px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      object-fit: contain;
      border-radius: 20px;
      background-color: var(--white);
    }

    input {
      display: none;
    }

    .custom-file-input {
      margin-top: 17px;

      label {
        cursor: pointer;
        color: transparent;
        border-radius: 99px;
        background: var(--black-blue);
        color: var(--white);
        text-align: center;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
        padding: 10px 30px;
      }
    }
  }

  .right {
    background-color: var(--white);
    padding-left: 108px;
    padding-top: 85px;
    display: flex;
    flex-direction: column;

    h1 {
      font-family: Arial Black;
      font-size: 36px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 22px;

      input,
      select,
      textarea {
        display: block;
        width: 330px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 1px solid var(--Gray-30, #B4B4BB);
        background: var(--White-Base, #FFF);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        padding: 0 20px;
        line-height: normal;
        outline: none;

        &::placeholder {
          color: #AAA;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      textarea {
        padding-top: 10px;
        height: 100px;
        resize: none;
      }

      select {
        color: #AAA;
      }

      input[type="submit"] {
        border-radius: 99px;
        background: var(--black-blue);
        color: var(--white);
      }
    }
  }
}