@import url(../style.css);
.authors {
  margin-top: 30px;
}
.authors .top select {
  display: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--cream);
  color: var(--brown);
  border: none;
  padding: 10px;
}
.authors .top h1 {
  color: var(--cream);
  font-family: Rotterburg Stylish FREE;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.authors .top .category {
  margin-top: 30px;
  width: 100%;
}
.authors .top .category ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.authors .top .category ul li {
  display: inline-block;
}
.authors .top .category ul li button {
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--light-gray);
  font-family: Steinbeck;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
}
.authors .top .category ul li button:hover {
  color: var(--cream);
  transform: scale(1.2) translateY(-2px);
}
.authors .bottom {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.authors .bottom .card {
  width: 173.33px;
  border-radius: 15px;
  background: var(--author-card-gradient);
  box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}
.authors .bottom .card:hover .card-bottom .author-info h2 {
  color: var(--cream);
}
.authors .bottom .card .card-top {
  width: 100%;
  overflow: hidden;
}
.authors .bottom .card .card-top img {
  width: 100%;
  height: 100%;
}
.authors .bottom .card .card-bottom {
  height: 45%;
  text-align: center;
  background-image: url(".../imgs/author naqsh1.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-position-y: -50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  gap: 12px;
}
.authors .bottom .card .card-bottom .author-info {
  flex: 1;
}
.authors .bottom .card .card-bottom .author-info h2 {
  color: var(--text-gray);
  font-family: Steinbeck;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.5s;
}
.authors .bottom .card .card-bottom .author-info p {
  color: var(--light-gray);
  font-family: Steinbeck;
  font-size: 12px;
  font-weight: 400;
  margin-top: 4.15px;
}
.authors .bottom .card .card-bottom .card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: auto;
  margin-bottom: 12px;
}
.authors .bottom .card .card-bottom .card-info div {
  display: flex;
  align-items: center;
}
.authors .bottom .card .card-bottom .card-info div p {
  margin: 0;
  color: var(--white);
  font-family: Steinbeck;
  font-size: 16px;
  font-weight: 400;
  margin-left: 4px;
}
.authors .bottom .card-top {
  width: 173.983px;
  height: 55%;
}
.authors .bottom .card-top img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=authors.css.map */