@import url(../style.css);

.author {
  display: flex;

  .left {
    .img {
      width: 582px;
      height: 779.327px;
      border-radius: 0px 50px 50px 0px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .container{
      width: 100%;

      .author-info {
        padding: 40px 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 31.5px;
  
        .container-left,
        .container-right,
        .container-center {
          p {
            color:var(--light-gray);
            font-family: Visuelt Pro;
            font-size: 12px;
            font-weight: 300;
            line-height: 144.4%;
          }
  
          h1 {
            color: var(--cream);
            font-family: Rotterburg Stylish FREE;
            font-size: 39px;
            font-weight: 400;
            line-height: 144.4%;
          }
  
          span {
            color:var(--light-gray);
            font-family: Visuelt Pro;
            font-size: 12px;
            font-weight: 300;
            line-height: 144.4%;
          }
        }
      }
    }

  }

  .right {
    padding: 52.66px 88.66px 0 97.78px;

    h1 {
      color: var(--cream);
      font-family: Rotterburg Stylish FREE;
      font-size: 48px;
      font-weight: 400;
    }

    .title {
      color: var(--author-p);
      margin-top: 20px;
      font-family: Steinbeck;
      font-weight: 400;
      line-height: 144.4%;
    }

    .ijodi {
      margin-top: 31.22px;

      .top {
        display: flex;
        align-items: center;

        h2 {
          color: var(--cream);
          font-family: Rotterburg Stylish FREE;
          font-size: 20px;
          font-weight: 400;
          margin-left: 9.69px;
        }
      }

      .bottom {
        p {
          margin-top: 3.64px;
          width: 400px;
          color: var(--white);
          font-family: Steinbeck;
          font-weight: 400;
          line-height: 154.9%;
          margin-left: 9.69px + 14px;
        }
      }
    }

    .asarlari {
      margin-top: 45px;
      overflow: hidden;

      .top {
        display: flex;
        justify-content: space-between;

        h2 {
          color: var(--cream);
          font-family: Rotterburg Stylish FREE;
          font-size: 31px;
          font-weight: 400;
        }

        button {
          outline: none;
          border: none;
          background: transparent;
          color: var(--white);
          font-family: Steinbeck;
          font-weight: 400;
          font-size: 1rem;
          cursor: pointer;
        }
      }

      .asarlar-notscroll{
        overflow: hidden;
        flex-wrap: wrap;
      }

      .bottom {
        width: 704px !important;
        margin-top: 13px;
        display: flex;
        width: 100%;
        gap: 41.5px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        .card {
          width: 170px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .card-top {
            width: 164.152px;
            height: 246.228px;

            img {
              width: 100%;
              height: 100%;
              border-radius: 15px;
              background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            }
          }

          .card-bottom {
            h2 {
              color: var(--cream);
              font-family: Rotterburg Stylish FREE;
              font-size: 20px;
              font-weight: 400;
              margin-top: 17px;
            }

            span {
              font-family: Visuelt Pro;
              font-size: 12px;
              color: var(--light-gray);
              font-weight: 300;
              line-height: 144.4%;
              margin-top: 1.3px;
            }

            div {
              display: inline-flex;
              justify-content: center;
              align-items: flex-start;
              gap: 7px;
              margin-top: 3.8px;

              h3 {
                color: var(--light-gray);
                font-family: Visuelt Pro;
                font-size: 12px;
                font-weight: 300;
                line-height: 144.4%;
              }
            }
          }
        }
      }
    }
  }
}