@import url(../style.css);

.shelf-book {
  padding-inline: 80px;
  margin-top: 50px;

  .container {
    box-shadow: 0px 4px 73px 0px rgba(0, 0, 0, 0.25);
    padding: 38.5px 0 43px 76.5px;
    border-radius: 15px;
    display: flex;
    gap: 75px;
    background: url(../imgs/profileicon.png) no-repeat right, linear-gradient(-90deg, rgba(47, 47, 47, 1) 6%, rgba(25, 25, 25, 1) 100%);

    .left {
      .img {
        width: 165px;
        height: 248px;
        background-size: cover;
        border-radius: 15px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        font-family: Rotterburg Stylish FREE;
        color: var(--cream);
        text-align: center;
        user-select: none;
      }

      .audio-player {
        width: 400px;
        margin: 20px;

        audio {
          display: none;
        }

        .top-audio {
          display: flex;
          align-items: center;
          gap: 20px;
          width: 400px;

          #current-time,
          #total-time {
            color: var(--cream) !important;
            margin-top: 10px;
            font-family: Rotterburg Stylish FREE;
          }

          .progress {
            width: 400px;
            height: 10px;
            background-color: var(--white);
            border-radius: 10px;
            margin-top: 10px;
            overflow: hidden;

            .progress-bar {
              border-radius: 10px;
              width: 0;
              height: 100%;
              background-color: var(--cream);
              transition: width 0.3s ease-in-out;
            }
          }

        }

        .controls {
          margin-top: 5px;
          display: flex;
          justify-content: center;
          gap: 10px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;

            &:first-child {
              rotate: 180deg;
            }
          }
        }
      }

      button {
        padding: 10px 30px;
        background: var(--cream);
        outline: none;
        border: none;
        border-radius: 10px;
        font-family: Steinbeck;
        font-size: 19px;
        cursor: pointer;
        margin-top: 30px;
        color: var(--brown);
      }
    }
  }
}

.pdf-reader {
  padding-inline: 80px;
  margin-top: 50px;
  iframe{
    height: 100vh;
    
  }
}
